$green : #87c8b4;
$greenHover : darken($green, 25);
$blue :#3c8dbC;
$blueHover: darken($blue, 10);
$orange : #f9b668;
$yellow : #f4c753;
$red : #fc8076;
$lightBlue : #82a1b9;
$sand : #ccab7a;
$fog : #a6b8c2;
$earth : #c69880;
$storm : #808f9d;
